<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>com.draper.Home</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/Hello.do</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>email</param-name>
        <param-value>Draper_HXY@163.com</param-value>
    </context-param>

    <context-param>
        <param-name>Color</param-name>
        <param-value>blue</param-value>
    </context-param>

    <listener>
        <listener-class>
            com.draper.MyServletContextListener
        </listener-class>
    </listener>


</web-app>
