<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>com.draper.HomePage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/Hello.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>com.draper.CookiePage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/coookies.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getCookie</servlet-name>
        <jsp-file>/WEB-INF/getCookie.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>getCookie</servlet-name>
        <url-pattern>/yahoo.cookie.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Jsp</servlet-name>
        <jsp-file>/Jsp.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jsp</servlet-name>
        <url-pattern>/Jsp</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>email</param-name>
        <param-value>Draper_HXY@163.com</param-value>
    </context-param>

    <context-param>
        <param-name>Color</param-name>
        <param-value>blue</param-value>
    </context-param>

    <listener>
        <listener-class>
            com.draper.MyServletContextListener
        </listener-class>
    </listener>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

</web-app>
